<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context-2.5.xsd
                    http://www.springframework.org/schema/aop
                    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                    http://www.springframework.org/schema/tx 
                    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
    <!-- 这个是和实体相关的dao,所以scope是prototype的每个实体对应一个对象 -->
    <bean id="basedao"
        class="dao.impl.BaseDaoImpl" abstract="true"  scope="prototype" lazy-init="true">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>	
    <!--    dao bean 注入 -->
     <bean id="userDaoImpl"
        class="dao.impl.UserDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
    <bean id="classDaoImpl"
        class="dao.impl.ClassDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="chatDaoImpl"
        class="dao.impl.ChatDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="classUserDaoImpl"
        class="dao.impl.ClassUserDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="cookBookDaoImpl"
        class="dao.impl.CookBookDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="homeworkDaoImpl"
        class="dao.impl.HomeworkDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="lifeDaoImpl"
        class="dao.impl.LifeDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="siginInDaoImpl"
        class="dao.impl.SiginInDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="studyDaoImpl"
        class="dao.impl.StudyDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="subjectDaoImpl"
        class="dao.impl.SubjectDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <bean id="temperatureDaoImpl"
        class="dao.impl.TemperatureDaoImpl" parent="basedao"  scope="prototype" >
     </bean>
     <!--    service bean 注入 -->
    <bean id="basicServiceImpl"
        class="service.impl.BasicServiceImpl"  scope="prototype" >
        <property name="userDao" ref="userDaoImpl"/>
        <property name="classDao" ref="classDaoImpl"/>
        <property name="studyDao" ref="studyDaoImpl"/>
        <property name="temperatureDao" ref="temperatureDaoImpl"/>
        <property name="homeworkDao" ref="homeworkDaoImpl"/>
        <property name="subjectDao" ref="subjectDaoImpl"/>
        <property name="classUserDao" ref="classUserDaoImpl"/>
    </bean>	
   <bean id="signInServiceImpl"
        class="service.impl.SignInServiceImpl"  scope="prototype" >
        <property name="userDao" ref="userDaoImpl"/>
        <property name="signInDao" ref="siginInDaoImpl"/>
        <property name="lifeDao" ref="lifeDaoImpl"/>
        <property name="cookbookDao" ref="cookBookDaoImpl"/>
    </bean>	
<!--   action bean 注入 -->
    <bean id="basicAction"
        class="action.mobile.BasicAction"  scope="prototype" >
       <property name="basicService" ref="basicServiceImpl" />
    </bean>	
     <bean id="signInAction"
        class="action.mobile.SignInAction"  scope="prototype" >
       <property name="signInService" ref="signInServiceImpl" />
    </bean>	
     <bean id="webAction"
        class="action.web.WebAction"  scope="prototype" >
       <property name="basicService" ref="basicServiceImpl" />
    </bean>	


     	

</beans>